$color1:  rgba(102, 117, 251, 1);
$color2:  rgba(50, 212, 92, 1);
$color3:  rgba(254, 207, 72, 1);//pass
$color4:  rgba(252, 81, 101, 1);
$color5:  rgba(25, 149, 251, 1);
$color6:  rgba(224, 112, 73, 1);
$color7:  rgba(68, 250, 198, 1);//pass
$color8:  rgba(148, 94, 238, 1);
$color9:  rgba(250, 119, 174, 1);
$color10: rgba(141, 230, 165, 1);//pass
$color11: rgba(118, 212, 210, 1);//pass
$color12: rgba(165, 238, 238, 1);//pass

.bgColor-1 {
  background-color: $color1;
}
.bgColor-2 {
  background-color: $color2;
}
.bgColor-3 {
  background-color: $color3;
}
.bgColor-4 {
  background-color: $color4;
}
.bgColor-5 {
  background-color: $color5;
}
.bgColor-6 {
  background-color: $color6;
}
.bgColor-7 {
  background-color: $color7;
}
.bgColor-8 {
  background-color: $color8;
}
.bgColor-9 {
  background-color: $color9;
}
.bgColor-10 {
  background-color: $color10;
}
.bgColor-11 {
  background-color: $color11;
}
.bgColor-12 {
  background-color: $color12;
}
